/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
#root {
  display: flex;

  height: 100%;
}

html {
  background-color: #f5e6e8;
  height: 100%;
  display: flex;
}
.input {
  border-radius: 0.5rem;
}
.addbutton {
  background-color: #ffe74c;
  border-radius: 10%;
  color: black;
  box-shadow: none;
  font-family: "Quicksand", sans-serif;
  border-radius: 0.5rem;
}

.trash {
  background-color: #ff5964;
}

li {
  background-color: #f78154;
} */
