@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

html {
  background: #ddd;
  height: 100%;
  display: flex;
}

body {
  width: 100%;
  margin: auto;
}

.container {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
}
