@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
#root {
  display: flex;
  height: 100%;
  background-color: #f5e6e8;
}

html {
  height: 100%;
  background-color: #f5e6e8;
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
}

.container {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  background-color: #f5e6e8;
  justify-content: space-around;
}

.logo {
  width: 120px;
  height: 100px;
  align-items: top;
  float: left;
}

.col1 {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #d5c6e0;
  border-radius: 2rem;
}

.col2 {
  background-color: #aaa1c8;
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.col3 {
  background-color: #967aa1;
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  color: black;
  font-style: bold;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.addItem,
.inProcess,
.Done {
  color: white;
  font-style: bold;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.input {
  border-radius: 0.5rem;
  border-color: white;
  width: auto;
}
.addbutton {
  background-color: #192a51;
  color: white;
  box-shadow: none;
  font-family: "Quicksand", sans-serif;
  border-radius: 0.5rem;
}

.trash {
  background-color: #ff686b;
  border-radius: 1rem;
  border-color: #ff686b;
  color: white;
}

.list-group-item,
li {
  background-color: #f78154;
}
